p
{
    color: #782399;
    background: #637078;
    font-family: #ac6d43;
    font-size: 50px;
}

h1{
    color: #1ac817;
    background: #ec4908;
    font-family: #7879bc;
    font-size: 70px;
}

h2{
    color: #cfe40d;
    background: #fdf402;
    font-family: #16d4ed;
    font-size: 60px;
}
em{
    color: #22c527;
    background: #c802e6;
    font-family: #ac6d43;
    font-size: 50px;
}